---
layout: default
title: adventskalender
tagline: 24x Hallelujah
header: adventskalender
permalink: /adventskalender
group: navigation
weight: 5
---

<div class="advent-container">
  {% for item in site.adventskalender %}
    <div {% if item.url == "/adventskalender" %} class="hidden" {% endif %} class="item">
      <a href="{{ item.url }}" class="advent-btn">
        <img src="{{ item.img }}"/>
        <div class="text">
          <div {% if item.title == "Daaaankeee!" %} class="hidden" {% endif %} class="title">
            <strong>{{ item.date | date:"%d" }}</strong>
          </div>
          {{ item.title }}
        </div>
      </a>
    </div>
  {% endfor %}
</div>

<p>***</p>

<p>Woooow!</p>

<p>Wir sind immer noch ganz geflasht von all der Unterstützung!</p>

<p>Vielen vielen Dank an alle Spender*innen, die dafür gesorgt haben, dass wir bald eine 3D-Druckerin im Baumschiff begrüßen dürfen, und sie fleißig mit Filamenten füttern können!</p>

<p>Und auch die Lötstation zieht bald ein und wir bekommen einen Seilzug!</p>

<p>Wahnsinn!</p>

<p>Voll das verfrühte Weihnachten hier in der Heart of Code!</p>

<p>Für die Adventszeit sind alle unsere Wünsche erfüllt - aber wir freuen uns auch über weitere stetige Unterstützung, z.B. mit  <a href="http://heartofcode.org/mitgliedsformular.html" target="_blank">einer Fördermitgliedschaft</a> </p>

<p>Oder kommt mal im Baumhaus vorbei und werft N=randomInt(1,10000) Bitcoins (in bar) in unsere Spendenbüchse.</p>
