---
layout: default
title: Stechlin Blog
tagline: 10 Tage Python und anderen Spaß
header: Stechlin Blog
permalink: /stechlin-blog
group: navigation
weight: 5
---

<div class="stechlin-container">
  {% for item in site.stechlin-blog %}
    <div {% if item.url == "/stechlin-blog" %} class="hidden" {% endif %} class="item">
      <a href="{{ item.url }}" class="advent-btn">
        <img src="{{ item.img }}"/>
        <div class="text">
         
          {{ item.title }}
        </div>
      </a>
    </div>
  {% endfor %}
</div>

<p>***</p>

<p>10 Tage im <a href="http://www.stechlin-institut.org/"<Stechlin Institut</a> in Neuroofen</p>

<p>In einem alten Forsthaus am Waldrand in der Nähe vom Großen Stechlin See, betreiben Steff und Romy ein wunderbares Haus,
  dass offen für Gruppen ist, sich zurück zu ziehen, Dinge zu tun und die brandenburger Natur zu spüren.
Wir verbringen hier einige Tage - manche fahren wieder früher, andere kommen später - beschäftigen uns viel mit Python, 
aber auch mit anderen Dingen.</p>
